<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Host</title>
    <style>
        body {
            margin: 32px;
            font-size: 2em;
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        http://@ViewBag.Host
    </div>
</body>
</html>
